html {
    width: 100%;
    height: 100%;
}

#theme:hover {
    color: red;
}

body {
    font-family: 'Courier New', Courier, monospace;
    background-color: black;
    color: white;
    margin-left:5%;
    margin-right:5%;
}

.light_mode {
    background-color: white;
    color: black;
}

.home_box {
    padding: 2em;
}

h1 {
    font-family: 'Courier New', Courier, monospace;
    font-size: 2em;
    font-weight:100;
    padding-top: 1em;
    margin-bottom: 0;
    text-align: center;
}

h2 {
    font-size: 1.3em;
    text-align: center;
    font-weight: 100;
    font-style: italic;
    margin-right: 15%;
    margin-left: 15%;
    margin-top: 0;
}

h3 {
    display: block;
    font-size: 1.2em;
    text-align: center;
    font-weight: 100;
    font-style: italic;
    margin-right: 15%;
    margin-left: 15%;
}

p {
    padding-bottom: 1em;
    font-size: 1em;
    margin-right: 15%;
    margin-left: 15%;
}

a {
    font-size: 1em;
    color: red;
}



a:visited {
    color:red;
}

img {
    width: 70%;
    margin-right: 15%;
    margin-left: 15%;
    padding-top: 1em;
    padding-bottom: 1em;
}

pre code {
    margin: auto;
    background-color: gray;
    display: block;
    margin-right: 15%;
    margin-left: 15%;
    overflow-x: auto;
  }

code {
    height: 1%;
}

li {
    display: inline-block;
    padding-left: 3%;
}

li a {
    font-size: 1.2em;
    color: black;
    font-weight: 900;
}

li a:visited {
    color: black;
}


.nav {
    position: fixed;
    top: 0;
    left: 0;
    padding: 0;
    border: 2px solid red;
    background-color: red;
    width: 100%;
    margin: auto;
    list-style-type: none;
    text-align: center;
}

table {
    margin-left: 15%;
    margin-right: 15%;
}

.warning_box {
    display:block; 
    margin-bottom: 5%; 
    margin-left: 15%; 
    margin-right: 15%; 
    border: 2px double red; 
    width:auto;
}

.warning_text {
    color: white; 
    font-style: italic; 
    margin: 1%; 
    text-align: center;
}

.centered {
    text-align: center;
}

video {
    border: 2px solid white;
    width: 98%;
}

.art_video {
    width: 70%;
    margin-left: 15%;
    margin-right: 15%;
    margin-bottom: 2.5em;
    margin-top: 2.5em;
}

.table_img {
    margin: 0;
    width: 100%;
}

.container {
    width: 250px;
    margin: auto;
}