html {
    width: 100%;
    height: 100%;
}

body {
    font-family: 'Courier New', Courier, monospace;
    background-color: black;
    color: white;
}
#theme {
    background-color: red;
    border: none;
}
.light_mode #theme {
    background-color: lightblue;
    border: none;
}

.dark_mode #theme {
    background-color: red;
    border: none;
}

#theme:hover {
    cursor: pointer;
}

.light_mode {
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.1em;
    background-color: whitesmoke;
    color: black;
}
.light_mode a {
    color: darkblue;
}
.light_mode li a {
    color: black;
}
.light_mode li a:visited {
    color: black;
}
.light_mode a:visited {
    color: darkblue;
}

.dark_mode {
    background-color: black;
    color: white;
}

.home_box {
    padding: 2em;
}

h1 {
    font-size: 2em;
    font-weight:100;
    margin-bottom: 0;
    text-align: center;
}

h2 {
    font-size: 1.3em;
    text-align: center;
    font-weight: 100;
    font-style: italic;
    margin-top: 0;
}

h3 {
    display: block;
    font-size: 1.2em;
    text-align: center;
    font-weight: 100;
    font-style: italic;
}

p {
    padding-bottom: 1em;
    font-size: 1em;
}

a {
    font-size: 1em;
    color: red;
}

a:visited {
    color:red;
}

img {
    max-width: 100%;
    margin: auto;
    padding-top: 1em;
    padding-bottom: 1em;
}

pre code {
    margin: auto;
    background-color: gray;
    display: block;
    overflow-x: auto;
  }

code {
    height: 1%;
}

li {
    display: inline-block;
    padding-left: 3%;
}

li a {
    font-size: 1.2em;
    color: black;
    font-weight: 900;
}

li a:visited {
    color: black;
}


.nav {
    position: fixed;
    top: 0;
    left: 0;
    padding: 1%;
    width: 100%;
    margin: auto;
    list-style-type: none;
    text-align: center;
    background-color: red;
}

.dark_mode .nav {
    border: 2px solid red;
}
.light_mode .nav {
    background-color: lightblue;
}

table {
    margin: auto;
}

.warning_box {
    display:block; 
    border: 3px solid red; 
}

.warning_text {
    font-style: italic; 
    text-align: center;
}

.centered {
    text-align: center;
}

video {
    border: 2px solid white;
    width: 98%;
}

.art_video {
    margin-bottom: 2.5em;
    margin-top: 2.5em;
}

.table_img {
    margin: 0;
    width: 100%;
}

.container {
    width: 250px;
    height:300px;
    margin: auto;
}

.wrapper {
    padding-top: 5%;
    margin-left: 15%;
    margin-right: 15%;
}

@media only screen and (max-width: 800px) {
    .wrapper {
        margin: 5%
    }
}
